.wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

.pageBtn,
.navBtn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.navBtn {
  border: 1px solid rgba(38, 38, 38, 0.2);
}

.active {
  background: var(--main-orange);
  color: white;
  border: 1px solid var(--main-orange);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
