.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageBtn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--main-grey);
  background: white;
  cursor: pointer;

  transition: 0.2s;
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageBtn:hover:not(:disabled) {
  background: #f0f0f0;
}

.active {
  background: var(--main-orange);
  color: white;
  border-color: var(--main-orange);
}

.dots {
  padding: 6px 10px;
  color: #777;
}
