.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.content {
  position: relative;
  background-color: var(--main-white);
  padding: 30px;
  border-radius: 30px;
  width: 800px;
  min-height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondaryContent {
  background-color: transparent;
}

.btn {
  border-radius: 30px;
  padding: 14px 20px;
  background-color: var(--main-orange);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--main-white);
  display: flex;
  gap: 4px;
}

.secondaryBtn {
  background-color: #fff;
  color: var(--main-black);
}

.editWrapper {
  background-color: var(--main-light-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.userWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-bottom: 28px;
}

.photoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background-color: var(--main-light-orange);
  overflow: hidden;
}

.avatarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoBtn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-black);
  background-color: transparent;
}

.text {
  align-self: flex-start;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25;
  color: #2b2b2a;
}

.field {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 14px;
  padding-left: 20px;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.field:focus {
  border: 1px solid #f6b83d;
  background: transparent;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.petsWrapper {
  width: 100%;
  margin-bottom: 20px;
}

.logoutBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-orange);
  border-radius: 30px;
  padding: 12px 28px;
  background-color: var(--main-light-orange);
  align-self: flex-start;
}

.btnWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.notification {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #262626;
}

.span {
  font-weight: 700;
  color: var(--main-orange);
}
