.filters {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  width: 100%;
  background-color: var(--main-light-orange);
  margin-bottom: 40px;
}

.filterWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.searchWrapper {
  position: relative;
}

.searchIcon {
  stroke: black;
  fill: none;
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}

.searchInput {
  position: relative;
  border-radius: 30px;
  padding-left: 14px;
  color: var(--main-black);
  width: 265px;
  height: 48px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--main-white);
  transition: all 0.3s ease;
}

.searchInput::placeholder {
  color: var(--main-black);
}

.searchInput:hover,
.searchInput:focus {
  border: 1px solid var(--main-orange);
}

.categorySelect {
  border-radius: 30px;
  width: 200px;
  height: 48px;
}

.genderSelect {
  border-radius: 30px;
  width: 190px;
  height: 48px;
}

.speciesSelect {
  border-radius: 30px;
  width: 190px;
  height: 48px;
}

.locationWrapper {
  position: relative;
}

.locationInput {
  border-radius: 30px;
  padding-left: 14px;
  width: 227px;
  height: 48px;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease;
}

.locationInput:hover,
.locationInput:focus {
  border: 1px solid var(--main-orange);
}

.clearIcon {
  stroke: white;
  cursor: pointer;
}

.clearInputIcon {
  position: absolute;
  top: 15px;
  right: 36px;
  stroke: var(--main-black);
  cursor: pointer;
}

.sortBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.sortBtn button {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  position: relative;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background-color: var(--main-white);
  cursor: pointer;
  transition: 0.3s;
}

.sortBtn button:active,
.sortBtn button:hover,
.sortBtn button:focus {
  background-color: #f6b83d;
  color: var(--main-white);
}

.line {
  height: 1px;
  background-color: rgba(38, 38, 38, 0.1);
}

@media (max-width: 900px) {
  .filters {
    padding: 40px 32px;
  }
}

@media (max-width: 590px) {
  .filters {
    padding: 20px;
  }
  .searchWrapper {
    width: 100%;
  }
  .searchInput {
    width: 100%;
  }

  .filterWrapper > *:nth-child(2),
  .filterWrapper > *:nth-child(3) {
    flex: 1 1 calc(50% - 6px);
    max-width: calc(50% - 6px);
  }
  .filterWrapper {
    gap: 12px;
    font-size: 14px;
  }

  .sortBtn {
    gap: 10px;
    font-size: 14px;
    padding: 12px;
  }
}

@media (max-width: 375px) {
  .filterWrapper > *:nth-child(2),
  .filterWrapper > *:nth-child(3) {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
