.wrapper {
  height: 100vh;
  position: relative;
  margin-top: -114px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.heroWrapper {
  flex: 1 1 0;
  border-radius: 60px;
  background-color: var(--main-orange);
  display: flex;
  width: 100%;
  height: 100%;
}

.heroContent {
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 90px;
  line-height: 97%;
  color: var(--main-white);
  letter-spacing: -0.03em;
  width: 760px;
}

.heroSpan {
  color: rgba(255, 255, 255, 0.4);
}

.heroInfo {
  width: 255px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.heroImg {
  flex: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.heroWrapper,
.heroImg {
  flex: 1 1 0;
  min-height: 0;
}

@media (max-width: 930px) {
  .heroContent {
    display: block;
    padding: 44px 32px;
    position: relative;
  }
  .title {
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    padding: 0 32px;
  }

  .heroInfo {
    position: absolute;
    bottom: 44px;
    right: 32px;
  }
}

@media (max-width: 500px) {
  .heroWrapper {
    border-radius: 30px;
  }
  .heroContent {
    padding: 50px 20px;
  }

  .heroImg {
    border-radius: 30px;
  }
  .title {
    font-size: 50px;
    padding: 0 20px;
  }
  .heroInfo {
    font-size: 14px;
    line-height: 1.29;
  }
}
