.wrapper {
  height: 100vh;
  position: relative;
  margin-top: -114px;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.heroWrapper {
  flex: 1 1 0;
  border-radius: 60px;
  background-color: var(--main-orange);
  display: flex;
  width: 100%;
}

.heroContent {
  padding: 64px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 90px;
  line-height: 97%;
  color: var(--main-white);
  width: 760px;
}

.heroSpan {
  color: rgba(255, 255, 255, 0.4);
}

.heroInfo {
  width: 255px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.heroImg {
  flex: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

.heroWrapper,
.heroImg {
  flex: 1 1 0;
}
