.wrapper {
  min-height: 100vh;
  padding-bottom: 16px;
}

.heroWrapper {
  position: relative;
  z-index: 1;
  margin-top: -98px;
  border-radius: 60px;
  width: 100%;
  background-color: var(--main-orange);
  padding: 178px 64px 32px 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-weight: 700;
  font-size: 90px;
  line-height: 97%;
  color: var(--main-white);
  width: 760px;
}

.heroSpan {
  color: rgba(255, 255, 255, 0.4);
}

.heroInfo {
  width: 255px;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.heroImg {
  flex: 1;
  object-fit: cover;
  width: 100%;
}
