.wrapper {
  padding-top: 32px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlePage {
  font-weight: 700;
  align-self: start;
  font-size: 54px;
  line-height: 100%;
  margin-bottom: 40px;
}

.list {
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 40px;
}
