.petCard {
  position: relative;
  display: flex;
  gap: 25px;
  background-color: var(--main-white);
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  width: 440px;
}

.description {
  display: flex;
  gap: 27px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-black);
}

.info {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.value {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--main-black);
}

.imgWrapper {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
}

.petInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.deleteBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
  background-color: var(--main-light-orange);
  transition: all 0.3s ease;
}

.deleteBtn:hover,
.deleteBtn.focus {
  background-color: #fbe7c1;
}

@media (max-width: 1000px) {
  .petCard {
    width: 305px;
    height: 145px;
    gap: 14px;
    padding: 22px 16px;
  }
  .imgWrapper {
    width: 75px;
    height: 75px;
  }

  .deleteBtn {
    width: 32px;
    height: 32px;
    right: 12px;
    top: 12px;
  }
  .description {
    gap: 10px;
    flex-wrap: wrap;
  }
}
