:global(.type-select__menu-list::-webkit-scrollbar) {
  width: 8px;
}

:global(.type-select__menu-list::-webkit-scrollbar-track) {
  background: transparent;
}

:global(.type-select__menu-list::-webkit-scrollbar-thumb) {
  background-color: #f6b83d;
  border-radius: 10px;
}

:global(.type-select__menu-list::-webkit-scrollbar-thumb:hover) {
  background-color: #f9b020;
}

:global(.type-select__menu-list) {
  scrollbar-width: thin;
  scrollbar-color: #f6b83d transparent;
}
