.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sexWrapper {
  display: flex;
  gap: 8px;
}

.sexIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.sexIcon svg {
  width: 24px;
  height: 24px;
}

.sexIcon:hover {
  transform: scale(1.05);
}

.iconFemale {
  fill: black;
  stroke: black;
}

.female {
  color: #f43f5e;
  background-color: rgba(244, 63, 94, 0.1);
}

.activeFemale {
  background-color: #f43f5e;
  color: white;
}

.female:hover:not(.activeFemale),
.female:focus:not(.activeFemale),
.female:active:not(.activeFemale) {
  background-color: #f43f5e;
  color: white;
}

.male {
  color: #54adff;
  background-color: rgba(84, 173, 255, 0.1);
}

.activeMale {
  background-color: #54adff;
  color: white;
}

.male:hover:not(.activeMale),
.male:focus:not(.activeMale),
.male:active:not(.activeMale) {
  background-color: #54adff;
  color: white;
}

.multiple {
  background-color: #fff4df;
  color: var(--main-orange);
}

.activeMultiple {
  background-color: var(--main-orange);
  color: white;
}

.multiple:hover:not(.activeMultiple),
.multiple:focus:not(.activeMultiple),
.multiple:active:not(.activeMultiple) {
  background-color: var(--main-orange);
  color: white;
}

.error {
  color: red;
  font-size: 14px;
}

@media (max-width: 500px) {
  .sexIcon {
    width: 32px;
    height: 32px;
  }
  .sexIcon svg {
    width: 20px;
    height: 20px;
  }
  .error {
    font-size: 10px;
  }
}
