.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sexWrapper {
  display: flex;
  gap: 8px;
}

.sexIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}

.sexIcon:hover {
  transform: scale(1.05);
}

.active {
  border: 1px solid #f6b83d;
}

.female {
  color: #f43f5e;
  background-color: rgba(244, 63, 94, 0.1);
}

.female:hover,
.female:focus {
  background-color: #f43f5e;
  color: var(--main-white);
}

.iconFemale {
  fill: black;
  stroke: black;
}

.male {
  color: #54adff;
  background-color: rgba(84, 173, 255, 0.1);
}

.male:hover,
.male:focus {
  background-color: #54adff;
  color: var(--main-white);
}

.multiple {
  background-color: #fff4df;
  color: var(--main-orange);
}

.multiple:hover,
.multiple:focus {
  background-color: var(--main-orange);
  color: var(--main-white);
}

.error {
  color: red;
  font-size: 14px;
}
