.sexWrapper {
  display: flex;
  gap: 8px;
}

.sexIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
}

.sexIcon:hover {
  transform: scale(1.05);
}

.active {
  border: 1px solid #f6b83d;
}
