.header {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  align-items: center;
}

.headerWrapper {
  display: flex;
  align-items: center;
}

.headerLogo {
  display: flex;
  align-items: flex-end;
  margin-right: 313px;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  background-color: var(--main-background);
}

.homeHeaderLogo {
  color: var(--main-white);
  background-color: transparent;
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-grey);
  border-radius: 30px;
  padding: 15px 20px;
}

.pageActive {
  border: 1px solid var(--main-orange);
}

.homeColorButton {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: var(--main-white);
}

.pageLink:hover {
  border: 1px solid var(--main-orange);
}

.userLink {
  border-radius: 30px;
  padding: 15px 20px;
  font-family: var(--font-family);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-orange);
  background-color: var(--main-light-orange);
}

.userInfoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userActive {
  background: var(--main-orange);
  color: var(--main-white);
}

.pageNav {
  display: flex;
  gap: 10px;
}

.guestView {
  display: flex;
  gap: 8px;
}

.userView {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  color: var(--main-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.homeName {
  color: #262626;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--main-light-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 15px 35px;
  background-color: var(--main-orange);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-white);
}

.logout:hover,
.logout:focus {
  background-color: #f9b020;
}
