.photoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -16px;
  gap: 12px;
}

.hiddenInput {
  display: none;
}

.previewImage {
  width: 86px;
  height: 86px;
  object-fit: cover;
  border-radius: 50%;
}

.iconFoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86px;
  height: 86px;
  border-radius: 100px;
  background-color: var(--main-light-orange);
}

.urlWrapper {
  display: flex;
  width: 100%;
  gap: 8px;
}

.fieldPhoto {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 20px 12px 12px;
  width: 278px;
  height: 42px;
}

.fieldPhoto:focus {
  border: 1px solid #f6b83d;
}

.buttonPhoto {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 12px 16px;
  width: 100%;
  height: 52px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.removePhotoButton {
  position: absolute;
  top: -6px;
  right: -6px;
  background: #ff4d4f;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.iconFoot {
  position: relative; /* нужно для позиции кнопки удаления */
}
.hiddenInput {
  display: none;
}
