.datepickerWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.datepickerInput {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  height: 52px;
}

.iconWrapper {
  stroke: black;
  fill: white;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--main-black);
  font-size: 1.2em;
}
