.datepickerWrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.datepickerInput {
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  background: none;
  border-radius: 8px;
  padding: 10px 14px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  height: 52px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-black);
  width: 193px;
  outline: none;
}

.datepickerInput:focus {
  border: 1px solid #f6b83d;
}

.iconWrapper {
  stroke: black;
  fill: white;
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--main-black);
  font-size: 1.2em;
}
