.wrapper {
  padding-top: 64px;
  padding-bottom: 80px;
  max-width: 1153px;
  margin: 0 auto;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  margin-bottom: 60px;
}

.title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
}

.inputWrapper {
  position: relative;
}

.searchInput {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 14px;
  width: 230px;
  height: 48px;
  transition: all 0.3 ease;
}

.searchInput:hover,
.searchInput:focus {
  border: 1px solid var(--main-orange);
}

.iconSearch {
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}

.iconCross {
  stroke: var(--main-black);
  position: absolute;
  top: 15px;
  right: 14px;
  cursor: pointer;
}

.iconSearch {
  position: absolute;
  top: 15px;
  right: 14px;
  fill: var(--main-white);
  stroke: var(--main-black);
}

.list {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 37px;
}

.item {
  border-radius: 15px;
  width: 361px;
  height: 476px;
  display: flex;
  flex-direction: column;
}

.img {
  border-radius: 15px;
  width: 361px;
  height: 226px;
  object-fit: cover;
  margin-bottom: 28px;
  flex-shrink: 0;
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 14px;
  flex-shrink: 0;
}

.text {
  margin-bottom: auto;
  letter-spacing: -0.02em;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.readMoreWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.date {
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.readMore {
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--main-orange);
  transition: all 0.3s ease;
}

.readMore:hover,
.readMore:focus {
  color: #f9b020;
  scale: 1.05;
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 768px;
    padding-top: 53px;
  }

  .topWrapper {
    margin-bottom: 44px;
  }

  .list {
    column-gap: 24px;
    row-gap: 32px;
  }

  .item {
    width: 340px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding-top: 26px;
  }

  .topWrapper {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
  }
  .title {
    align-self: flex-start;
  }

  .inputWrapper {
    width: 100%;
  }
  .searchInput {
    width: 100%;
  }

  .item {
    width: 335px;
    height: 359px;
  }

  .img {
    height: 190px;
    margin-bottom: 28px;
  }

  .name {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .text {
    display: -webkit-box;
    font-size: 14px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .readMoreWrapper {
    margin-bottom: 0;
  }
}
